[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/nlohmann_json"]
	path = thirdparty/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/readerwriterqueue"]
	path = thirdparty/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
